@model StudentCourseMVC.Models.Course

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessorName)
        </dd>

    </dl>
</div>

